MONGODB_URI=mongodb+srv://<db_user>:<db_password>@<cluster_id>.mongodb.net/expense_tracker
JWT_SECRET_KEY=29ad7fd63879656a07df1f0685ab479caac64da1d94797601ef1763e634b804a
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=1440
FRONTEND_URL=http://localhost:5173
